<div class="container">
  <div class="card shadow-lg rounded">
    <div class="card-body">
      <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-info mt-3 mb-3" (click)="toggleOrderDirection()">Cambiar Orden</button>
        <button (click)="downloadExcel()">Descargar Excel</button>
        <button class="btn btn-success mt-3 mb-3" (click)="openModal()">Agregar Usuario</button>
      </div>
      <div class="table-responsive">
        <table class="table rounded">
          <thead class="my-theadd" [ngClass]="isSmallScreen ? 'd-none' : ''">
            <tr class="bg-primary text-white my-thead">
              <th>ID</th>
              <th>Nombre</th>
              <th>Email</th>
              <th>Ciudad</th>
              <th>Estado</th>
              <th>Tipo de Persona</th>
              <th class="text-center">Acciones</th>
            </tr>
          </thead>
          <tbody [ngClass]="isSmallScreen ? 'd-flex flex-column align-items-stretch' : ''">
            <ng-container *ngFor="let user of users; let i = index">
              <tr *ngIf="!isSmallScreen">
                <td class="table-cell">{{ user?.id }}</td>
                <td class="limited-cell">{{ user?.name }}</td>
                <td class="table-cell">{{ user?.email }}</td>
                <td class="table-cell">{{ user?.ciudad }}</td>
                <td class="table-cell">{{ user?.estado }}</td>
                <td class="table-cell">{{ user?.tipoPersona?.nombre }}</td>
                <td class="table-cell">
                  <div class="d-flex justify-content-around">
                    <button class="btn btn-primary me-2" (click)="viewUserProfile(user.id)">Ver Perfil</button>
                    <button class="btn btn-warning me-2" (click)="editUser(i)">Editar</button>
                    <button class="btn btn-danger" (click)="openDeleteModal(i)">Borrar</button>
                  </div>
                </td>
              </tr>
              <div *ngIf="isSmallScreen" class="d-flex flex-column mb-2 p-2 bg-light">
                <div><strong>ID: </strong>{{ user?.id }}</div>
                <div><strong>Nombre: </strong>{{ user?.name }}</div>
                <div><strong>Email: </strong>{{ user?.email }}</div>
                <div><strong>Ciudad: </strong>{{ user?.ciudad }}</div>
                <div><strong>Estado: </strong>{{ user?.estado }}</div>
                <div><strong>Estado: </strong>{{ user?.tipoPersona?.nombre }}</div>

                <div class="mt-2">
                  <button class="btn btn-primary me-2" (click)="viewUserProfile(user.id)">Ver Perfil</button>
                  <button class="btn btn-warning me-2" (click)="editUser(i)">Editar</button>
                  <button class="btn btn-danger" (click)="openDeleteModal(i)">Borrar</button>
                </div>
              </div>
            </ng-container>
          </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-3">
          <div>
            <span>Mostrando {{pageSize}} de {{total}} registros en la página {{pageNumber}} de {{totalPages}}</span>
          </div>
          <div class="d-flex align-items-center">
            <select [(ngModel)]="pageSize" (change)="updatePageSize()" class="form-select me-5" style="width: auto;">
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="25">25</option>
            </select>
            <div>
              <button [disabled]="pageNumber === 1" class="btn btn-primary me-2" (click)="goToFirstPage()">
                <i class="bi bi-skip-start-fill"></i>
              </button>
              <button [disabled]="pageNumber === 1" class="btn btn-secondary me-2" (click)="prevPage()">
                <i class="bi bi-arrow-left"></i>
              </button>
              <button [disabled]="pageNumber === totalPages" class="btn btn-secondary me-2" (click)="nextPage()">
                <i class="bi bi-arrow-right"></i>
              </button>
              <button [disabled]="pageNumber === totalPages" class="btn btn-primary" (click)="goToLastPage()">
                <i class="bi bi-skip-end-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showModal" class="modal-backdrop show"></div>
    <app-user-modal [userForm]="userForm" [showModal]="showModal" [editIndex]="editIndex" [users]="users"
      (closeModalEvent)="closeModal()" (reloadData)="loadUsers()"></app-user-modal>
    <div *ngIf="showDeleteModal" class="modal d-block" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmación de Borrado</h5>
            <button type="button" class="btn-close" (click)="closeDeleteModal()"></button>
          </div>
          <div class="modal-body">
            <p>¿Seguro que quieres borrar este usuario?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">No</button>
            <button type="button" class="btn btn-danger" (click)="confirmDelete()">Sí, borrar</button>
          </div>
        </div>
      </div>
    </div>
