<div class="app-bar">
  <div class="logo">
    <div>Rompecabezas.</div>
  </div>
  <div class="menu-container">
    <ul class="nav-list">
      <li><a [routerLink]="['/home']"><fa-icon [icon]="faUserCircle"></fa-icon> Usuarios</a></li>
      <li><a [routerLink]="['/admin/products']"><fa-icon [icon]="faBox"></fa-icon> Productos</a></li>
      <li><a [routerLink]="['/admin/orders']"><fa-icon [icon]="faClipboardList"></fa-icon> Órdenes</a></li>
      <li><a href="#"><fa-icon [icon]="faShoppingCart"></fa-icon></a></li>
    </ul>
  </div>
  <div>
    <div *ngIf="isSmallScreen" class="hamburger-container">
      <button class="hamburger-btn btn btn-light" (click)="toggleMenu()">☰</button>
      <ul class="nav-list" [ngClass]="{'active': menuActive, 'desktop': !isSmallScreen}">
        <li (click)="toggleMenu()"><a [routerLink]="['/home']"><fa-icon [icon]="faUserCircle"></fa-icon> Usuarios</a></li>
        <li (click)="toggleMenu()"><a [routerLink]="['/admin/products']"><fa-icon [icon]="faBox"></fa-icon> Productos</a>
        </li>
        <li (click)="toggleMenu()"><a [routerLink]="['/admin/orders']"><fa-icon [icon]="faClipboardList"></fa-icon>
          Órdenes</a></li>
        <li (click)="toggleMenu()"><a href="#"><fa-icon [icon]="faShoppingCart"></fa-icon> </a></li>
      </ul>
    </div>
  </div>
</div>
