.table-cell {
  max-width: 200px;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.my-thead {
  background-color: orange;
}
.container {
  margin-top:  100px; /* Usa !important sólo para probar */
  padding-top: 0; /* Usa !important sólo para probar */
}


.rounded-table {
  border-radius: 12px;
  overflow: hidden;
}

.limited-cell {
  max-width: 100px;
  white-space: normal;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.my-theadd {
  background-color: orange !important;
}

.button-container {
  display: flex;
  flex-direction: row;
}
@media (max-width: 576px) {
  .s {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (min-width: 1024px) and (max-width: 1035px) {
  .button-container.column-layout {
    flex-direction: column;
  }
}
