.table-cell {
  max-width: 200px;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.my-thead {
  background-color: orange;
}

.container {
  margin-top:  20px;
  padding-top: 0;
}


.btn-custom {
  background-color: white;
  color: rgb(52, 59, 134);
  border: 1px solid rgb(52, 59, 134);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: rgb(52, 59, 134);
}


.rounded-table {
  border-radius: 12px;
  overflow: hidden;
}

.limited-cell {
  max-width: 100px;
  white-space: normal;
  overflow-wrap: break-word;
  vertical-align: middle;
}

.my-theadd {
  background-color: orange !important;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.btn-orange {
  background-color: rgb(237, 125, 49);
  border: none;
  color: white;
}

.new-line {
  display: block;
}
.outside-buttons {
  margin-top: 75px;
  margin-left: 20px;
}

.btn-white {
  background-color: white;
  color: rgb(52, 59, 134);
}

.card-white {
  background-color: white;
}

.custom-shadow {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1) !important;
}

@media (max-width: 576px) {
  .s {
    flex-direction: column;
    align-items: flex-start;
  }
}


@media (min-width: 1024px) and (max-width: 1035px) {
  .button-container.column-layout {
    flex-direction: column;
  }
}
