<div class="container mt-5">
  <div *ngIf="operationSuccess && !isEditMode" class="alert alert-success text-center mt-2" role="alert">
    Producto creado con éxito.
  </div>
  <div *ngIf="deleteOperationSuccess && !isEditMode" class="alert alert-danger text-center mt-2" role="alert">
    Producto eliminado con éxito.
  </div>
  <div *ngIf="operationError && !isEditMode" class="alert alert-danger text-center mt-2" role="alert">
    Hubo un error al crear el producto.
  </div>
  <div *ngIf="editOperationSuccess && isEditMode" class="alert alert-success text-center mt-2" role="alert">
    Producto editado con éxito.
  </div>
  <div *ngIf="operationError && isEditMode" class="alert alert-danger text-center mt-2" role="alert">
    Hubo un error al editar el producto.
  </div>

  <div class="d-flex justify-content-between flex-wrap mb-4">

    <button class="btn btn-primary"  (click)="openAddProductModal()">Agregar producto</button>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4" *ngFor="let product of products; let i = index">
      <div class="card mb-4">
        <img [src]="product?.image?.url ? getProductImageUrl(product.image.url) : 'path_a_imagen_placeholder'" alt="{{ product?.nombre }}" class="product-image img-fluid"> <!-- Agregado 'img-fluid' para que las imágenes sean responsivas -->
        <div class="card-body">
          <h5 class="card-title">{{ product?.nombre }}</h5>
          <p class="card-text">$ {{ product?.precio }}</p>
          <div class="d-grid gap-2"> <!-- Cambiado a grid para alinear los botones verticalmente en dispositivos móviles -->
            <button class="btn btn-success">Agregar al carrito</button>
            <button class="btn btn-danger mt-2 mt-sm-0" (click)="openDeleteProductModal(i)">Eliminar producto</button>
            <button class="btn btn-warning mt-2 mt-sm-0" (click)="openEditProductModal(i)">Editar producto</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="isModalOpen" class="modal wide-modal" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">Agregar Producto</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="productForm">
            <div class="mb-3">
              <label for="productName" class="form-label">Nombre:</label>
              <input formControlName="productName" type="text" class="form-control" id="productName">
              <div *ngIf="hasError('productName', 'required')" class="text-danger">
                Nombre es requerido.
              </div>
              <div *ngIf="hasError('productName', 'minlength')" class="text-danger">
                Nombre debe tener al menos 3 caracteres.
              </div>
            </div>

            <div class="mb-3">
              <label for="productPrice" class="form-label">Precio:</label>
              <input formControlName="productPrice" type="number" class="form-control" id="productPrice">
              <div *ngIf="hasError('productPrice', 'required')" class="text-danger">
                Precio es requerido.
              </div>
              <div *ngIf="hasError('productPrice', 'min')" class="text-danger">
                Precio debe ser mayor a 0.
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Imagen actual:</label>
              <img *ngIf="selectedProductImage" [src]="selectedProductImage" alt="Imagen actual del producto" class="product-image img-fluid">
            </div>

            <div class="mb-3">
              <label for="productImage" class="form-label">Nueva Imagen:</label>
              <input formControlName="productImage" type="file" class="form-control" accept=".png, .jpg, .jpeg" id="productImage" (change)="onImageSelected($event)">
              <div *ngIf="hasError('productImage', 'required')" class="text-danger">
                Imagen es requerida.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="saveProduct()">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="showDeleteProductModal" class="modal d-block" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación de Borrado</h5>
          <button type="button" class="btn-close" (click)="closeDeleteProductModal()"></button>
        </div>
        <div class="modal-body">
          <p>¿Seguro que quieres eliminar este producto?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDeleteProductModal()">No</button>
          <button type="button" class="btn btn-danger" (click)="confirmDeleteProduct()">Sí, eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>

